<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.Hospital_Management_System"
        tools:ignore="DiscouragedApi"
        tools:targetApi="31">
        <activity
            android:name=".UserForgotPasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".OurDoctorsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AssignMedicalAssistantActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UpdateTestActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddTestActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PhysicalTestManagementActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViewItemActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DeductItemActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UpdateItemActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddItemActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StaffAdapter"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".UpdateStaffActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DeleteDoctorActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SuperAdminDashboardActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HospitalInventoryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PharmacyInventoryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".InventoryManagementActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViewStaffByCategoryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DeleteStaffActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddStaffActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StaffManagementActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DeletePatientActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UpdatePatientInfoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViewPatientInfoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViewPatientAppointmentsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PatientsManagementActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DoctorsManagementActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddDoctorActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AssignRoomToDoctorActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UpdateDoctorActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViewDoctorAppointmentsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DoctorAppointmentsAdapter"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".AppointmentsAdapter"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".PhysicalTestBookingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PhysicalTestBookingAdapter"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".AppointmentBookingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DoctorBookingAdapter"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".UserDashboardActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DoctorDashboardActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DoctorLoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SuperAdminLoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignupSuccessActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AdminLoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>